.header-section {
    position: sticky;
    top: 0;
    z-index: 9999;
    transition: 0.3s;
}

.header-section .logo {
    font-size: 18px !important;
    font-weight: 600;
    margin: 0;
    padding: 0;

}

.header-section svg {
    stroke: white;
}

.header-section.header-scrolled svg {
    stroke: black;
}

.header-section .sidebar {
    display: none;
}

.header-section a{
    transition: .3s;
}

.header-section a:hover{
    color: #6675ff;
}

.header-section.header-scrolled {
    background-color: white;
    color: black;
}

.header-section.header-scrolled a {
    color: black;
}

.header-section.header-scrolled .primary-btn {
    background-color: #09172b;
    color: white;
}

.sidebar {
    z-index: 9999;
}

@media (max-width:1024px){
    .header-menus{
        display: none;
    }
}