@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.alumni-section {
    mask-image: linear-gradient(90deg, transparent 0, #000 15%, #000 85%, transparent);
}

.alumni-section .card {
    background-color: white;
    color: black;
    padding: 10px;
    width: 260px;
    height: 330px;
    margin-left: 20px;
}

.alumni-section .card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.linkedin-img {
    width: 30px !important;
    height: auto !important;
}

.alumni-section .card h4 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.alumni-section .user-position {
    font-size: 14px !important;
}

@media (max-width:768px) {
    .alumni-section .card {
        width: 230px;
    }
}