.faq-section .tabs {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.faq-section .tabs {
    border-bottom: 1px solid #cccccc56;
    margin-bottom: 50px;
}

.faq-section .tabs button {
    width: fit-content;
    height: fit-content;
    /* white-space: nowrap; */
}

.faq-section .accordion-div {
    height: fit-content;
}


.faq-section .accordion-div p {
    margin-bottom: 10px;
}

.faq-section .accordion-div ul {
    list-style: disc;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px
}

@media (max-width:767px) {
    .faq-section .tabs {
        overflow-x: auto;
        justify-content: start;
    }

    .faq-section .tabs button {
        white-space: nowrap;
    }
}