.metric-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
}

.metric-box h4 {
    font-size: 42px;
    color: white;
    /* font-weight: 600; */
}

.metric-box h4 span {
    font-size: 40px;
    color: #9C80F4;
}

.metric-box p {
    font-size: 14px;
    /* text-align: center; */
    color: white;
    font-weight: 300;
}

.sarvan-heading span {
    font-size: clamp(1rem, 0.7685rem + 1.2346vw, 2.25rem) !important;
}

#about-section li span.block {
    font-size: 14px !important;
    margin-top: 5px;
}

@media (max-width:767px) {
    .metric-box h4 {
        font-size: 24px;
    }

    .metric-box h4 span {
        font-size: 24px;
    }

    .metric-box {
        gap: 10px;
    }

    #about-section img {
        /* height: ; */
    }
}


@media (max-width:350px) {
    .metric-box {
        justify-content: center;
        gap: 20px;
        align-items: center;
    }

    .metric-box div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}