@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #010b0a;
    --foreground: #ededed;
  }
}

body {
  background: #010b0a;
  color: var(--foreground);
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h2 {      
  font-size: 38px !important;
  font-weight: 600 !important;
  line-height: normal;
  color: white;
}

section {
  padding: 40px 0 !important;
  margin: 70px 0 !important;
}

.main-section {
  background-image: url('../public/images/home-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.gradient {
  font-weight: bold;
  background: linear-gradient(90deg, hsla(255, 92%, 76%, 1) 0%, hsla(172, 66%, 50%, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .primary-btn {
  padding: 12px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}


.primary-btn {
  background-color: white;
  border-radius: 100px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  /* width: 100%; */
}

.primary-btn svg {
  width: 16px;
}

.secondary-btn {
  background-color: transparent;
  border-radius: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 14px;
  padding: 12px 20px;
  font-weight: 600;
  border: 1px solid #ffffff3b;
  cursor: pointer;
}