.testimonial-card {
  /* margin-left: calc(var(--spacing) * 4); */
  width: 360px;
  color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid #cccccc4d;
  border-radius: 8px;
  cursor: pointer;
}

.testimonial-card p{
  color: white;
}

.testimonial-card img{
  height: 230px;
  object-fit: cover;
  border-radius: 8px;
}

.writing-vertical-lr {
  writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: 10px;
  padding: 10px;
}

/* Smooth transitions for slider */
.testimonial-slide {
  transition: all 0.5s ease;
}

/* Custom animation for slider */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(20px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease forwards;
}

.animate-slide-in {
  animation: slideIn 0.5s ease forwards;
}

.video-card-section {
  mask-image: linear-gradient(90deg, transparent 0, #000 15%, #000 85%, transparent);
}

@media (max-width: 400px) {
  .testimonial-card {
    width: 70vw;
  }
}